h1
{
    text-align: center;
}

input
{
    display: none;
}

input:checked + section label
{
    background: url('horizontal.png');
}

input:checked ~ section article .catsCard
{
    width: 80%;
    height: 90%;
    padding: 3%;
    margin: 0;
}

input:checked ~ section article:not(:first-child) .catsCard
{
    border-top: none;
}

input:checked ~ section article .catsCard .photo
{
    width: 100%;
    height: 50%;
}

input:checked ~ section article .catsCard .name
{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input:checked ~ section article .catsCard .shortDescription
{
    display: none;
}

input:checked ~ section article .catsCard .bigDescription
{
    display: block;
}

label
{
    background: url('vertical.png');
    width: 60px;
    height: 60px;
    display: block;
}

.catsCard
{
    float: left;
    margin: 1%;
    width: 400px;
    height: 550px;
    border: gray solid 1px;
}

.catsCard:hover
{
    box-shadow: 0 0 10px 2px gray;
}

.name
{
    padding-left: 15px;
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name a:hover
{
    color: coral;
}

.species:hover
{
    color: coral;
}

.shortDescription
{
    padding-left: 15px;
}

.shortDescription p
{
    color: gray;
    margin: 0;
}

.bigDescription
{
    padding-left: 15px;
    display: none;
}

.bigDescription p
{
    color: gray;
    margin: 0;
}

.shortDescription .status
{
    margin-top: 10px;
}

.photo
{
    width: 100%;
    height: 300px;
}

.photo:hover
{
    transform: scale(-1, 1);
}
