h1
{
    text-align: center;
}

input
{
    display: none;
}

input:checked + section label
{
    background: url('horizontal.png');
    margin-left: -3px;
}

input:checked ~ article .cat-card
{
    width: 80%;
    height: 90%;
    padding: 3%;
    margin: 0;
}

input:checked ~ article .cat-card:not(:first-child)
{
    border-top: none;
}

input:checked ~ article .cat-card .photo
{
    width: 100%;
    height: 50%;
}

input:checked ~ article .cat-card .name
{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input:checked ~ article .cat-card .short-description
{
    display: none;
}

input:checked ~ article .cat-card .big-description
{
    display: block;
}

label
{
    background: url('vertical.png');
    width: 60px;
    height: 60px;
    display: block;
    cursor: pointer;
}

.cat-card
{
    float: left;
    margin: 11px;
    width: 400px;
    height: 550px;
    border: gray solid 1px;
}

.cat-card:hover
{
    box-shadow: 0 0 10px 2px gray;
}

.name
{
    padding-left: 15px;
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name a
{
    text-decoration: none;
}

.name a:hover
{
    color: coral;
}

.species:hover
{
    color: coral;
}

.short-description
{
    padding-left: 15px;
}

.short-description p
{
    color: gray;
    margin: 0;
}

.big-description
{
    padding-left: 15px;
    display: none;
}

.big-description p
{
    color: gray;
    margin: 0;
}

.short-description .status
{
    margin-top: 10px;
}

.photo
{
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.photo:hover
{
    transform: scale(-1, 1);
}
